footer {
	background-color: $desBlack;
	padding: 1rem;
	margin-top: 1.5rem;
	@include flexbox(center, 0, column, 1rem);
	.footer__icons {
		@include flexbox(0, 0, 0, 0.75rem);
	}
	@media (min-width: $md) {
		padding: 1rem 2.5rem;
		@include flexbox(center, space-between, row, 1rem);
	}
}
