header {
	width: 100%;
	position: sticky;
	background: transparent;
	backdrop-filter: blur(0.25rem);
	top: 0;
	padding: 1.5rem;
	z-index: 100;
	.upper-navigation {
		@include flexbox(center, space-between, 0, 0);
		.logo {
			width: 32px;
			cursor: pointer;
		}
		svg {
			width: 40px;
		}
		.hidden {
			display: none;
		}
	}
	nav {
		display: none;
		ul {
			padding: 4rem 0;
			@include flexbox(center, space-around, column, 2rem);
			li {
				a {
					font-weight: bold;
				}
			}
		}
	}
	.active {
		display: block;
	}
	@media (min-width: $md) {
		padding: 2rem;
		@include flexbox(0, space-between, 0, 0);
		.upper-navigation {
			svg {
				display: none;
			}
		}
		nav {
			@include flexbox(0, 0, 0, 0);
			ul {
				@include flexbox(0, 0, row, 2rem);
				padding: 0;
				li {
					font-size: clamp(0.9rem, 1.3vw, 1.8rem);
				}
			}
		}
	}
}
