.services {
	background: $desBlack;
	width: 100%;
	@include flexbox(center, 0, column, 1.5rem);
	&__title {
		@include flexbox(center, 0, column, 0);
	}
	&__content {
		@include flexbox(0, 0, column, 1.5rem);
		.service {
			@include flexbox(0, 0, row, 0.25rem);
			&:nth-child(odd) {
				transform: translateX(-1.5rem);
			}
			&:nth-child(even) {
				transform: translateX(2rem);
			}
		}
	}
}
