// colors

$white: rgb(230, 230, 230);
$black: rgb(13, 18, 24);
$desBlack: rgb(16, 21, 29);
$primaryColor: rgb(0, 133, 255);
$hoverColor: rgba(0, 99, 192);

// sizes

$sm: 480px;
$md: 768px;
$lg: 1080px;

// mixins

@mixin flexbox($align, $justify, $direction, $gap) {
	display: flex;
	@if $align != 0 {
		align-items: $align;
	}
	@if $justify != 0 {
		justify-content: $justify;
	}
	@if $direction != 0 {
		flex-direction: $direction;
	}
	@if $gap != 0 {
		gap: $gap;
	}
}
